rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /subscribers/{sub} {
      allow read, update, delete: if (request.auth != null && request.auth.token.role == 'admin')
      allow create: if true;
    }
  }
}